@import '../../../../styles/variables';

.project {
	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		width: 100vw;
		padding-left: $padding-small;
		padding-right: 8vw; //128, 1600

		span:nth-child(1) {
			align-self: flex-start;
			transform: translateY(1.75vw); //28px, 1600
			font-weight: 600;
			width: 7.5vw; //120px, 1600
			padding-right: 80px;
		}

		div:nth-child(2) {
			hr {
				width: 52.5vw; //840px, 1600
				border-top: 1px solid $color-black;
			}
		}
		span:nth-child(3) {
			width: 18.75vw; //300px, 1600
			align-self: flex-end;
			transform: translateY(5.25vw); //84, 1600
			font-size: 0.875vw; //14, 1600
			font-weight: 500;
			line-height: 200%;
			height: 6vw; //96, 1600
		}
	}
}
