@import '../../styles/variables';

.title {
	position: absolute;
	left: $padding-small;
	top: var(--top-padding);
	z-index: 1000000;

	&.showDot::before {
		content: '';
		position: absolute;
		left: -1.5vw; //-24, 1600
		top: 50%;
		transform: translateY(-50%);
		width: 0.5vw; // 8px, 1600
		height: 0.5vw; // 8px, 1600
		background-color: $color-red;
		border-radius: 50%;
		display: block;
	}
	&.showSubtitle::after {
		content: var(--subtitle-text);
		position: absolute;
		left: 0;
		bottom: -20px; 
		font-size: 16px; 
		color: $color-grey; // Цвет надписи
		display: block;
	  }
}
