@import '../../styles/variables';

.container {
	padding-left: $padding-small;

	h3 {
		&.showDot::before {
			content: '';
			position: absolute;
			left: 6vw;
			top: 50%;
			transform: translateY(-50%);
			width: 0.5vw; // 8px, 1600
			height: 0.5vw; // 8px, 1600
			background-color: $color-red;
			border-radius: 50%;
			display: block;
		}
	}

	span {
		color: $color-grey;
	}
}
