@import '../../../../styles/variables';

.counter {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1vw; //16, 1600
	color: $color-white;
	align-self: flex-start;

	hr {
		width: 8.75vw; //140, 1600
        border: 0.5px solid $color-grey-dark;
	}
}
