@import '../../../styles/variables';

.follow {
	&__container {
        background-color: $color-black;
        display: flex;
        flex-direction: column;
        gap: 8vw; //128px, 1600
        padding-bottom: 240px;
        
        .socials {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding-left:$padding-big;
            gap: 4vw //64px, 1600
        }
	}
}
