@import '../../../styles/variables';

.twiceBest {
	&__container {
		overflow-x: hidden;
		background-color: $color-black;
		padding: 0 $padding-small 20vw $padding-small; //0 320px 320px , 1600
        position: relative;

		h1 {
			color: $color-white;
			font-weight: 700;
			line-height: 100%;
		}
		.canvasContainer {
			height: 100%;
			width: 100%;
			position: absolute;

            left: 25vw; //400px, 1600
            top: -5vw; //80px, 1600
		}
	}
}
