$color-black: #0d0c0c;
$color-white: #fafafa;
$color-grey: #666;
$color-grey-dark: #343434;
$color-red: #f51b1b;

//для подзаголовков - showreel, услуги, награды с левого края, а также для большого текста в twice-best
$padding-small: 7.5vw; //120px, 1600
$padding-big: 20vw; //320px, 1600


